{% extends 'plan/root.html' %}
{% block contents %}
{% load static %}
<div id ="plusdiv"> 
<h1 id="head"> Add week Headlines! </h1>
<h4 id="time"> {{t}} : <span id="daily" > </span> </h4>

<form id="wform" method="POST" enctype="multipart/form-data">

      {% csrf_token %}
    
      <label for="date"> week</label>
    <input type="datetime-local" name="week">
    <input name="line"> 
    
    <a href="{% url 'lines' %}"><button> <i class="fa-regular fa-paper-plane" id="los1"></i>  </button> </a>
   
     
   
</form>
</div>

<link rel="stylesheet" href="{% static '/plan/style.css' %}">
<script src="{% static '/plan/index.js' %}"></script>

{% endblock  %}